<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presque la fin du jeu</title>
    <link rel="icon" href="https://images.unsplash.com/photo-1554631221-f9603e6808be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
</head>
<body>
    <h1 style="background-color:rgb(82, 119, 99);color:aquamarine;" >   <p style="text-align: center;">  Bravo Marie! Tu es presque au bout du jeu!  </p> </h1>
   <h4> Il est conseillé de prendre des écouteurs ou un casque avant de voir ce qui ce cache derrière ce lien </h4>
   <h4> youtube bla bla</h4>
    

</body>
</html>