{% extends "base.html" %}

{% block content %}
    <div> <h2 style = "color:yellow">Yello!</h2> </div>
    <div> <strong>Et bien, on dirait que la routourne est en train de routourner!</strong> </div>
    <h3>Trouve la <em>"FIN_DU_JEU!" </em>pour compléter ce défi qui demandera un usage fort créatif de tes capacités cérébrales! </h3>
    <h4>Tu as exactement <strong>051:0 minutes </strong> <em>(hehe, see what we did here?) </em> pour trouver la "réponse" de ce jeu! </h4>
    <p>On recevra une notification lorsque le jeu commence. Si t'y arrives pas à temps, on te traitera de loser! Tu veux pas qu'on te traite comme Carole quand même!?</p>
    <p>  Le son (que ce soit les musiques passées, bruitages, et autre) est considéré comme un indice.  </p>
    <p> Les chansons diffusées, entre autres, n'ont pas été choisies au hasard.</p>
    <p> Bien qu'il est techniquement possible de finir ce jeu en mutant l'ordi, ce serait dommage de jouer ainsi. </p>
    <p> Techniquement parlant, tu n'as pas à sortir de l'appartement pour finir le jeu.  </p>
    <p> Est-ce que ça implique que tous les indices sont <strong> dans </strong> l'appartement? A toi de le découvrir! </p>
    <p> En cliquant sur le bouton "Start Game"... tu lances le jeu!</p>
    <p> C'est fou... les boutons font ce qu'ils devraient faire! Développement agile mamène! Les sprints, or whatever... I dunno, Syscom boys dunno what sweng is!</p>
    <p> Tu es libre de commencer ce jeu avec le "puzzle d'Anna et Elsa" qui se trouve quelque part en évidence dans ta chambre. </p>
    <h4 style = "color:blue;"> Bonne chance !   </h4>
    <h4 style = "color:red;"> PS : Ce truc a été codé à l'arrache, et contient quelques bugs qui nuirait à l'expérience de jeu. Il est formellement interdit de reload la page, sinon ça risque de faire crasher certains trucs implémentés.   </h4>
    <br />
    <p style="text-align: center;">
        <a href="/begin" class="button">START GAME</a>
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}
